// ==============================
// ブレークポイント 定義
// ==============================
// ＊＊＊＊＊SP・PCファーストについて、この設定を変更します＊＊＊＊＊
$break-flg: 0 !default; //0:SPファースト、1：PCファースト

$breakpoints: null;
@if $break-flg == 0 {
  $breakpoints: (
    "sm": "screen and (min-width: 400px)",
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 1000px)",
    "xl": "screen and (min-width: 1200px)",
  );
} @else {
  // ブレイクポイントの設定
  $breakpoints: (
    "sm": "screen and (max-width: 399px)",
    "md": "screen and (max-width: 767px)",
    "lg": "screen and (max-width: 999px)",
    "xl": "screen and (max-width: 1199px)",
  );
}

// ベースとなる横幅の定義
$inner: 1200px;
