// ==============================
// フォントのサイズ
// ==============================

$font-size_s: 12px;
$font-size_m: 14px; //0.875rem
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3xl: 38px;
$font-size_4xl: 50px;
