// ==============================
// フォントのサイズ
// ==============================

// フォントの太さ
$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;
$font-size_22l: 50px;
