// ==============================
// 余白 定義(marginやpadding,space betweenで使用)
// ==============================
$space-xs: 0.25rem;
$space-s: 0.5rem;  
$space-m: 0.75rem;
$space-lg: 1rem;    
$space-xl: 1.25rem;
$space-2xl: 1.5rem; 
$space-3xl: 1.75rem;   
$space-4xl: 2rem;   
$space-5xl: 3rem;
