// ==============================
// 余白 定義
// ==============================
$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;


// 余白
$padding-pc: 25px; // PC用余白設定
$padding-sp: 20px; // スマホ用余白設定