@use '../global' as *;

.c-contents {
  margin-top: $space-2xl;
   @include mq(sm) {
    padding-left: $space-2xl;
    padding-right: $space-2xl;
   }
   @include mq(lg) {
    padding-left: $space-4xl;
    padding-right: $space-4xl;
   }
}

.c-contents__inner {
  padding: $space-lg;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  @include mq(sm) {
      padding: $space-4xl;
  }
  @include mq(sm) {
      border-radius: 0.375rem;
  }
}

.c-contents__width {
  max-width: 36rem;
}