@use '../global' as *;

.c-form {
  margin-top: $space-2xl;
  margin-bottom: $space-2xl;
}

.c-form__content-full {
  width: 100%;
  border: 1px solid $color-gray-300;
  border-radius: 15px;
  margin-top: $space-m;
  padding: $space-2xl $space-lg;
}