@use "../global/" as *;

.c-text-input{
  border-radius: 0.375rem;
  border-color: $color-gray-300;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: $space-m;
  margin-top: $space-m;

  &:focus-visible{
    border-color: $color-indigo-500;
    outline: $color-indigo-500;
    box-shadow: 0 0 0 3px rgba(103, 114, 229, 0.5);
  }
}

// 入力欄の横幅定義
.c-text-input__full-width {
  margin-top: 0.25rem;
  display: block;
  width: 100%;
}

.c-text-input__3-4 {
  margin-top: 0.25rem;
  display: block;
  width: 75%;
}

.c-text-input__1-2 {
  margin-top: 0.25rem;
  display: inline-block;
  width: 47%;
}

// テキストエリア
.c-text-input__textarea {
  border-color: $color-gray-300;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  min-height: 8rem/* 128px */;
  max-height: 12rem;
  overflow-y: auto; /* スクロールできるように */
  resize: none; /* ユーザーによるサイズ変更を無効化 */
  box-sizing: border-box; 
}




.c-text-input__error-message {
  color: $color-danger;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
}

.c-text-input__label {
  display: block;
  font-weight: $medium;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  color: $color-gray-700;
}
.c-text-input__sort {
  padding: $space-xs $space-m;
}