/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./resources/scss/style.scss ***!
  \********************************************************************************************************************/
@charset "UTF-8";
/*-- foundationフォルダの中の_index.scss --*/
/*
 * 参考
 * https://github.com/Andy-set-studio/modern-css-reset/blob/master/src/reset.css
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  height: 100%;
}
@media (max-width: 375px) {
  html {
    font-size: vw(375, strip-unit(16px));
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: vw(strip-unit(1200px), strip-unit(16px));
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  color: #4b5563;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

.l-header {
  background-color: #f9fafb;
  border-bottom-width: 1px;
  border-color: #e5e7eb;
}

.l-container {
  max-width: 80rem;
  margin: 0 auto;
}

.l-wrapper {
  min-height: 100vh;
  background: linear-gradient(45deg, #51a6de, #1e5189);
}

.c-btn__primary {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background-color: #1f2937;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  font-weight: 600;
  font-size: 0.75rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  transition: background-color 0.15s ease-in-out;
}
.c-btn__primary:hover, .c-btn__primary:focus {
  background-color: #374151;
  outline: none;
}
.c-btn__primary:active {
  background-color: #111827;
}
.c-btn__primary:focus {
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
  outline-offset: 2px;
}

.c-btn__secondary {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  font-weight: 600;
  font-size: 0.75rem;
  color: #374151;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: background-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
}
.c-btn__secondary:hover {
  background-color: #f9fafb;
}
.c-btn__secondary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
  outline-offset: 2px;
}
.c-btn__secondary:disabled {
  opacity: 0.25;
}

.c-btn__danger {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #c81e1e;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  font-weight: 600;
  font-size: 0.75rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  transition: background-color 0.15s ease-in-out;
}
.c-btn__danger:hover {
  background-color: #e02424;
}
.c-btn__danger:active {
  background-color: #a41313;
}
.c-btn__danger:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.5);
  outline-offset: 2px;
}

.c-btn__delete {
  margin: 0.75rem 0.75rem 0 0.75rem;
  background-color: #c81e1e;
  color: white;
}

.c-btn__register {
  background-color: #818cf8;
  color: white;
}
.c-btn__register:hover {
  background-color: #6366f1;
}
.c-btn__register:active {
  background-color: #4338ca;
}
.c-btn__register:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.5);
  outline-offset: 2px;
}

.c-btn__position-fix {
  position: absolute;
  bottom: 25px;
  right: 50px;
  z-index: 950;
  background-color: rgba(75, 85, 99, 0.5);
  padding: 1.75rem 1rem;
  border-radius: 100%;
  border: solid 0.5px #4b5563;
}
@media screen and (min-width: 768px) {
  .c-btn__position-fix {
    position: static;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
  }
}

.c-btn__share {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}
.c-btn__share:hover {
  background-color: #d1d5db;
}
.c-btn__share::after {
  content: "Twitterでシェア";
  font-size: 12px;
  color: white;
  background-color: #111827;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  width: max-content;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}
.c-btn__share:hover::after {
  visibility: visible;
  opacity: 1;
}

.c-btn__share-icon {
  width: 100%;
  height: 100%;
}

.c-form {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.c-form__content-full {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 15px;
  margin-top: 0.75rem;
  padding: 1.5rem 1rem;
}

.c-image__preview {
  border-radius: 100%;
  border-color: black;
  border: 3px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 400px) {
  .c-image__preview {
    height: 10rem;
    width: 10rem;
  }
}

.c-flash__success {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 900;
  text-align: center;
  background-color: rgba(34, 197, 94, 0.7);
  color: white;
  font-weight: 700;
  padding: 1rem;
  border-radius: 0.25rem;
}

.c-flash__error {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 900;
  text-align: center;
  background-color: rgba(239, 68, 68, 0.7);
  color: white;
  font-weight: 700;
  padding: 1rem;
  border-radius: 0.25rem;
}

.c-flash__enter-active, .c-flash__leave-active {
  transition: opacity 1s;
}

.c-flash__enter-from, .c-flash__leave-to {
  opacity: 0;
}

.c-pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 20px 0;
  color: #f9fafb;
}

.c-pagination__item {
  margin: 0 2px;
}
@media screen and (min-width: 768px) {
  .c-pagination__item {
    margin: 0 5px;
  }
}

.c-pagination__link {
  display: block;
  padding: 8px 8px;
  text-decoration: none;
  color: #374151;
  border: 1px solid #6b7280;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media screen and (min-width: 768px) {
  .c-pagination__link {
    padding: 8px 12px;
  }
}
.c-pagination__link:hover {
  color: #0056b3;
  background-color: white;
  border-color: #dee2e6;
}

.c-pagination__item.active .c-pagination__link {
  z-index: 1;
  color: white;
  background-color: #374151;
  border-color: #374151;
}

.c-pagination__not-link {
  display: block;
  padding: 5px 4px;
  text-decoration: none;
  color: #374151;
  align-items: center;
  justify-items: center;
}

.c-confirm-message {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #28a745;
}

.c-description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  color: #4b5563;
}

.c-contents {
  margin-top: 1.5rem;
}
@media screen and (min-width: 400px) {
  .c-contents {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 1000px) {
  .c-contents {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.c-contents__inner {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
@media screen and (min-width: 400px) {
  .c-contents__inner {
    padding: 2rem;
  }
}
@media screen and (min-width: 400px) {
  .c-contents__inner {
    border-radius: 0.375rem;
  }
}

.c-contents__width {
  max-width: 36rem;
}

.c-step {
  margin-bottom: 0.75rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #d1d5db;
}

.c-card {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(1, 1fr);
  background-color: rgba(255, 255, 255, 0.2);
}
@media screen and (min-width: 400px) {
  .c-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .c-card {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1000px) {
  .c-card {
    grid-template-columns: repeat(4, 1fr);
  }
}

.c-card__item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #f9fafb;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.c-card__item:hover {
  background-color: #f3f4f6;
  transform: scale(1.05);
}
.c-card__item:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

.c-checkbox {
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  color: #4f46e5;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.c-checkbox:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(103, 114, 229, 0.5);
}

.c-text-input {
  border-radius: 0.375rem;
  border-color: #d1d5db;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 0.5rem;
  margin-top: 0.75rem;
}
.c-text-input:focus-visible {
  border-color: #6366f1;
  outline: #6366f1;
  box-shadow: 0 0 0 3px rgba(103, 114, 229, 0.5);
}

.c-text-input__full-width {
  margin-top: 0.25rem;
  display: block;
  width: 100%;
}

.c-text-input__3-4 {
  margin-top: 0.25rem;
  display: block;
  width: 75%;
}

.c-text-input__1-2 {
  margin-top: 0.25rem;
  display: inline-block;
  width: 47%;
}

.c-text-input__width {
  width: 75%;
}
@media screen and (min-width: 768px) {
  .c-text-input__width {
    width: 85%;
  }
}

.c-text-input__textarea {
  border-color: #d1d5db;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  min-height: 8rem;
  max-height: 12rem;
  overflow-y: auto;
  resize: none;
  box-sizing: border-box;
}

.c-text-input__error-message {
  color: #c81e1e;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.c-text-input__label {
  display: block;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #374151;
}

.c-text-input__sort {
  padding: 0.25rem 0.75rem;
}

.c-application_logo {
  height: 5rem;
  width: 5rem;
  color: #6b7280;
  fill: currentColor;
}

.c-dropdown {
  position: relative;
}

.c-dropdown__screen {
  position: fixed;
  inset: 0px;
  z-index: 40;
}

.c-dropdown__screen-open {
  position: absolute;
  z-index: 50;
  margin-top: 0.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.c-dropdown__content {
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: white;
}

.c-dropdown__link {
  display: block;
  width: 100%;
  padding: 1rem 0.5rem;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #374151;
  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.c-dropdown__link:hover {
  background-color: #f3f4f6;
}
.c-dropdown__link:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  background-color: #f3f4f6;
}

.c-dropdown__transition-enter-active {
  transition: opacity 200ms ease-out, transform 200ms ease-out;
}

.c-dropdown__transition-leave-active {
  transition: opacity 75ms ease-in, transform 75ms ease-in;
}

.c-dropdown__transition-enter-from, .c-dropdown__transition-leave-to {
  opacity: 0;
  transform: scale(0.95);
}

.c-dropdown__transition-enter-to, .c-dropdown__transition-leave-from {
  opacity: 1;
  transform: scale(1);
}

.c-dropdown__width {
  width: 12rem;
}

.c-dropdown__align-left {
  left: 0;
  transform-origin: top left;
}

.c-dropdown__align-right {
  right: 0;
  transform-origin: top right;
}

.c-dropdown__align-else {
  transform-origin: top;
}

.c-guest-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
  background-color: #2967a8;
}
@media screen and (min-width: 400px) {
  .c-guest-layout {
    justify-content: center;
    padding-top: 0;
  }
}

.c-guest-layout__contents {
  width: 100%;
  margin-top: 1.5rem;
  padding: 1.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}
@media screen and (min-width: 400px) {
  .c-guest-layout__contents {
    max-width: 28rem;
    border-radius: 0.375rem;
  }
}

.c-guest-layout__title {
  font-size: 28px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
}

.c-header__main-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #1f2937;
  line-height: 1.25;
}

.c-header__title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #111827;
}

.c-header__description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #4b5563;
  margin-top: 0.25rem;
}

.c-modal {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  padding: 1.5rem 1rem;
  z-index: 50;
}

.c-modal__close {
  position: fixed;
  inset: 0;
  transform: translate(0, 0);
  transition: all 0.3s ease;
}

.c-modal__close-background {
  position: absolute;
  inset: 0;
  background-color: #6b7280;
  opacity: 0.75;
}

.c-modal__show {
  margin-bottom: 1.5rem;
  background-color: white;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transform: translate(0, 0);
  transition: all 0.3s ease;
}
@media screen and (min-width: 768px) {
  .c-modal__show {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.c-modal__position {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.c-modal__transition-enter-active {
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
.c-modal__transition-leave-active {
  transition: opacity 200ms ease-in, transform 200ms ease-in;
}
.c-modal__transition-enter-from, .c-modal__transition-leave-to {
  opacity: 0;
  transform: translateY(1rem) scale(0.95);
}
.c-modal__transition-enter-to, .c-modal__transition-leave-from {
  opacity: 1;
  transform: translateY(0) scale(1);
}
@media screen and (min-width: 768px) {
  .c-modal__transition .c-modal__transition-base-enter-from, .c-modal__transition .c-modal__transition-base-leave-to {
    transform: scale(0.95);
  }
  .c-modal__transition .c-modal__transition-base-enter-to, .c-modal__transition .c-modal__transition-base-leave-from {
    transform: scale(1);
  }
}

.is-display__inline-flex {
  display: inline-flex;
}

.is-display__hidden {
  display: none;
}

.is-display__block {
  display: block;
}

.is-nav-link__active {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-bottom: 2px solid #667eea;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #111827;
  outline: none;
  border-color: #4338ca;
  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.is-nav-link__active:hover {
  color: #374151;
}

.is-nav-link__inactive {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-bottom: 2px solid transparent;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #6b7280;
  outline: none;
  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.is-nav-link__inactive:hover {
  color: #374151;
  border-color: #d1d5db;
}

.is-nav-link__responsible-active {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  border-left: 4px solid #818cf8;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  color: #4338ca;
  background-color: #eef2ff;
  outline: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.is-nav-link__responsible-active:hover, .is-nav-link__responsible-active:focus {
  color: #3730a3;
  background-color: #e0e7ff;
  border-color: #4338ca;
}

.is-nav-link__responsible-inactive {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  border-left: 4px solid transparent;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  color: #4b5563;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.is-nav-link__responsible-inactive:hover, .is-nav-link__responsible-inactive:focus {
  color: #1f2937;
  background-color: #f9fafb;
  border-color: #d1d5db;
}

.p-nav {
  background-color: #f9fafb;
  border-bottom-width: 1px;
  border-color: #f3f4f6;
  padding: 1rem;
}
@media screen and (min-width: 400px) {
  .p-nav {
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1000px) {
  .p-nav {
    padding: 1.5rem 2rem;
  }
}

.p-nav__inner {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

.p-nav__left {
  display: flex;
}

.p-nav__left-logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.p-nav__left-link {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-nav__left-link {
    display: flex;
    margin-left: 2.5rem;
    margin-top: -3rem;
    margin-bottom: -1px;
  }
}
.p-nav__left-link:not(:first-child) {
  margin-left: 8rem;
}

.p-nav__right {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-nav__right {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
  }
}

.p-nav__right-dropdown {
  margin-left: 0.75rem;
  position: relative;
}

.p-nav__icon {
  display: inline-flex;
  border-radius: 0.375rem;
}

.p-nav__dropdown-text {
  display: inline-flex;
  align-items: center;
  padding: 0.75rem 1rem;
  border: 1px solid #4b5563;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  border-radius: 0.375rem;
  color: #6b7280;
  background-color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.p-nav__dropdown-text:hover {
  color: #374151;
}
.p-nav__dropdown-text:focus {
  outline: none;
}

.p-nav__dropdown-menu {
  margin-left: 0.5rem;
  margin-right: -0.125rem;
  height: 1rem;
  width: 1rem;
}

@media screen and (min-width: 768px) {
  .p-nav__responsible {
    display: none;
  }
}

.p-nav__responsible-title {
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.p-nav__responsible-setting {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-top-width: 1px;
  border-color: #1f2937;
}

.p-nav__responsible-user {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-nav__responsible-user__name {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #1f2937;
}

.p-nav__responsible-user__email {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #6b7280;
}

.p-nav__responsible-routing {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.p-form__btn-save {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.p-form__btn-saved {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #4b5563;
}

.p-form__btn-position-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 1rem;
}

.p-form__btn-position-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.p-btn__position {
  position: relative;
}

.p-btn__edit {
  border-bottom: 1px solid #6b7280;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
}
.p-btn__edit:hover {
  border-color: #a5b4fc;
}

.p-card__title {
  font-size: 1rem;
  border-bottom: 1px solid #d1d5db;
  margin-top: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.p-card__sub-content {
  font-size: 0.5rem;
  margin-top: 0.25rem;
  color: #9ca3af;
}

.p-card__badge {
  background-color: #a5b4fc;
  font-size: 0.75rem;
  color: white;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.p-card__badge-done {
  background-color: #d1d5db;
  font-size: 0.75rem;
  color: white;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.p-checkbox {
  margin-right: 1.5rem;
  inline-size: 1.5rem;
  block-size: 1.5rem;
}

.p-login__checkbox {
  display: block;
  margin-top: 1rem;
}

.p-login__checkbox-label {
  display: flex;
  align-items: center;
}

.p-login__checkbox-text {
  margin-left: 0.5rem;
  font-size: small;
  color: #4b5563;
}

.p-header {
  padding: 1rem 0.75rem;
  box-shadow: 0 1px 4px 0 #6b7280;
}

.p-header__title {
  padding: 1.5rem 1rem;
}
@media screen and (min-width: 400px) {
  .p-header__title {
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1000px) {
  .p-header__title {
    padding: 1.5rem 2rem;
  }
}

.p-hamburger {
  margin-right: -0.5rem;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .p-hamburger {
    display: none;
  }
}

.p-hamburger__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.375rem;
  color: #9ca3af;
  background-color: transparent;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  border: none;
  outline: none;
}
.p-hamburger__btn:hover {
  color: #6b7280;
  background-color: #f3f4f6;
}
.p-hamburger__btn:focus {
  color: #6b7280;
  background-color: #f3f4f6;
}

.p-hamburger__btn-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.p-dropdown__authenticated-layout__width {
  width: 12rem;
}
.p-dropdown__authenticated-layout__align {
  right: 0;
  transform-origin: top right;
}
.p-dropdown__authenticated-layout__contentClasses {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: white;
}

.p-link {
  text-decoration: underline;
  font-size: 0.875rem;
  transition: color 0.15s ease-in-out;
  border-radius: 0.375rem;
  outline: none;
  color: white;
}
.p-link:hover {
  color: #111827;
}
.p-link:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.5);
}

.p-link__verify-email {
  text-decoration: underline;
  font-size: 0.875rem;
  color: #4b5563;
  border-radius: 0.375rem;
}
.p-link__verify-email:hover {
  color: #111827;
}
.p-link__verify-email:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
  outline-offset: 2px;
}

.p-link__text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 0.5rem;
  color: #1f2937;
}

@media screen and (min-width: 400px) {
  .p-dashboard {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 1000px) {
  .p-dashboard {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.p-dashboard__inner {
  background-color: #f9fafb;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
}

.p-dashboard__contents {
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
}

.p-dashboard__inner-text {
  color: #111827;
}

.p-dashboard__edit-link {
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.p-dashboard__user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 400px) {
  .p-dashboard__user-info {
    flex-direction: row;
  }
}

.p-dashboard__user-icon {
  flex-shrink: 0;
  height: 10rem;
}

.p-dashboard__user-details {
  margin-right: 20px;
  margin-left: 20px;
  flex-grow: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}
@media screen and (min-width: 400px) {
  .p-dashboard__user-details {
    margin-left: 0px;
  }
}

.p-dashboard__content {
  border: 1px solid #d1d5db;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  min-height: 30px;
}
@media screen and (min-width: 768px) {
  .p-dashboard__content {
    margin-left: 0.5rem;
  }
}

.p-transition__btn {
  transition: all 0.3s ease-in-out;
}

.p-step {
  display: block;
}
@media screen and (min-width: 768px) {
  .p-step {
    display: inline-block;
  }
}

.p-step__title {
  font-size: 18px;
  margin-right: 1rem;
}

.p-step__index {
  font-size: 24px;
  margin-right: 1rem;
}

.p-step__estimated_time {
  font-size: 14px;
  margin-right: 1rem;
}
@media screen and (min-width: 768px) {
  .p-step__estimated_time {
    margin-top: 0.5rem;
  }
}

.p-step__transition-enter-active {
  transition: opacity 1000ms ease-out, transform 1000ms ease-out;
}
.p-step__transition-leave-active {
  transition: opacity 1000ms ease-in, transform 1000ms ease-in;
}
.p-step__transition-enter-from, .p-step__transition-leave-to {
  opacity: 0;
  transform: translateX(100%) scale(0.95);
}
.p-step__transition-enter-to, .p-step__transition-leave-from {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

.p-step__list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.p-step__list-link {
  display: block;
  flex-grow: 1;
}
.p-step__list-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.p-step__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  padding: 20px;
}

.p-step__card {
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #f3f4f6;
  transition: background-color 0.3s;
  /* ホバー時のスタイル */
}
.p-step__card:hover {
  background-color: #e5e7eb;
}

.p-step__card-current {
  background-color: #e0e7ff;
  /* ホバー時のスタイル */
}
.p-step__card-current:hover {
  background-color: #c7d2fe;
}

.p-step-min-height {
  min-height: 500px;
}

.p-project {
  display: block;
}
@media screen and (min-width: 768px) {
  .p-project {
    display: inline-block;
  }
}

.p-project__title {
  font-size: 24px;
}

.p-project__sub-title {
  font-size: 12px;
  margin-top: 0.25rem;
}

.p-project__content {
  border: 0.5px solid #d1d5db;
  padding: 0.75rem;
  font-size: 12px;
}

.p-welcome__wrapper {
  position: relative;
}

.p-welcome__header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1.5rem;
  text-align: right;
}

@keyframes highlight {
  0% {
    background-size: 0 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.p-welcome__main-title {
  text-align: center;
  margin-top: 5rem;
  color: #111827;
  font-size: 18px;
}
.p-welcome__main-title h1 {
  display: inline-block;
  background: linear-gradient(to right, #3498db 0%, #3498db 100%);
  border-radius: 5px;
  background-size: 0 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  color: white;
  padding: 0.2em 0;
  animation: highlight 3s ease forwards;
  margin-bottom: 5px;
}
.p-welcome__main-title div {
  opacity: 0;
  animation: fadeIn 3s ease forwards;
  animation-delay: 3s;
}
@media screen and (min-width: 768px) {
  .p-welcome__main-title {
    margin-top: 8rem;
    font-size: 24px;
  }
}

.p-welcome__inner {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}
@media screen and (min-width: 400px) {
  .p-welcome__inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
}

.p-welcome__icon {
  height: 4rem;
  width: 4rem;
  margin: 0 auto;
}

.p-welcome__card {
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  padding: 1.5rem;
  box-shadow: 0 10px 15px -3px rgba(156, 163, 175, 0.2);
  transition: all 0.25s;
}
.p-welcome__card:hover {
  transform: scale(1.01);
}
.p-welcome__card:focus {
  outline: 2px solid red;
}

.p-welcome__title {
  margin-top: 1.5rem;
  font-size: 24px;
  color: #374151;
}

.p-welcome__content {
  margin-top: 1rem;
  color: #6b7280;
  font-size: 14px;
}

.p-sort {
  font-size: 14px;
  margin: 0.5rem 0.75rem;
}

.p-sort__list {
  margin-right: 1rem;
  margin-top: 0.5rem;
  display: block;
  color: #f9fafb;
}
@media screen and (min-width: 768px) {
  .p-sort__list {
    display: inline-block;
  }
}

.u-margin-xs {
  margin: 0.25rem;
}

.u-margin-s {
  margin: 0.5rem;
}

.u-margin-m {
  margin: 0.75rem;
}

.u-margin-lg {
  margin: 1rem;
}

.u-margin-xl {
  margin: 1.25rem;
}

.u-margin-2xl {
  margin: 1.5rem;
}

.u-margin-3xl {
  margin: 1.75rem;
}

.u-margin-4xl {
  margin: 2rem;
}

.u-margin__top-xs {
  margin-top: 0.25rem;
}

.u-margin__top-s {
  margin-top: 0.5rem;
}

.u-margin__top-m {
  margin-top: 0.75rem;
}

.u-margin__top-lg {
  margin-top: 1rem;
}

.u-margin__top-xl {
  margin-top: 1.25rem;
}

.u-margin__top-2xl {
  margin-top: 1.5rem;
}

.u-margin__top-3xl {
  margin-top: 1.75rem;
}

.u-margin__top-4xl {
  margin-top: 2rem;
}

.u-margin__top-5xl {
  margin-top: 3rem;
}

.u-margin__left-xs {
  margin-left: 0.25rem;
}

.u-margin__left-s {
  margin-left: 0.5rem;
}

.u-margin__left-m {
  margin-left: 0.75rem;
}

.u-margin__left-lg {
  margin-left: 1rem;
}

.u-margin__left-xl {
  margin-left: 1.25rem;
}

.u-margin__left-2xl {
  margin-left: 1.5rem;
}

.u-margin__left-3xl {
  margin-left: 1.75rem;
}

.u-margin__left-4xl {
  margin-left: 2rem;
}

.u-margin__bottom-xs {
  margin-bottom: 0.25rem;
}

.u-margin__bottom-s {
  margin-bottom: 0.5rem;
}

.u-margin__bottom-m {
  margin-bottom: 0.75rem;
}

.u-margin__bottom-lg {
  margin-bottom: 1rem;
}

.u-margin__bottom-xl {
  margin-bottom: 1.25rem;
}

.u-margin__bottom-2xl {
  margin-bottom: 1.5rem;
}

.u-margin__bottom-3xl {
  margin-bottom: 1.75rem;
}

.u-margin__bottom-4xl {
  margin-bottom: 2rem;
}

.u-margin__right-xs {
  margin-right: 0.25rem;
}

.u-margin__right-s {
  margin-right: 0.5rem;
}

.u-margin__right-m {
  margin-right: 0.75rem;
}

.u-margin__right-lg {
  margin-right: 1rem;
}

.u-margin__right-xl {
  margin-right: 1.25rem;
}

.u-margin__right-2xl {
  margin-right: 1.5rem;
}

.u-margin__right-3xl {
  margin-right: 1.75rem;
}

.u-margin__right-4xl {
  margin-right: 2rem;
}

.u-margin__y-xs {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.u-margin__y-s {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.u-margin__y-m {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.u-margin__y-lg {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.u-margin__y-xl {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.u-margin__y-2xl {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.u-margin__y-3xl {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.u-margin__y-4xl {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.u-margin__x-xs {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.u-margin__x-s {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.u-margin__x-m {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.u-margin__x-lg {
  margin-left: 1rem;
  margin-right: 1rem;
}

.u-margin__x-xl {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.u-margin__x-2xl {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.u-margin__x-3xl {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.u-margin__x-4xl {
  margin-left: 2rem;
  margin-right: 2rem;
}

.u-padding-xs {
  padding: 0.25rem;
}

.u-padding-s {
  padding: 0.5rem;
}

.u-padding-m {
  padding: 0.75rem;
}

.u-padding-lg {
  padding: 1rem;
}

.u-padding-xl {
  padding: 1.25rem;
}

.u-padding-2xl {
  padding: 1.5rem;
}

.u-padding-3xl {
  padding: 1.75rem;
}

.u-padding-4xl {
  padding: 2rem;
}

.u-padding__top-xs {
  padding-top: 0.25rem;
}

.u-padding__top-s {
  padding-top: 0.5rem;
}

.u-padding__top-m {
  padding-top: 0.75rem;
}

.u-padding__top-lg {
  padding-top: 1rem;
}

.u-padding__top-xl {
  padding-top: 1.25rem;
}

.u-padding__top-2xl {
  padding-top: 1.5rem;
}

.u-padding__top-3xl {
  padding-top: 1.75rem;
}

.u-padding__top-4xl {
  padding-top: 2rem;
}

.u-padding__top-5xl {
  padding-top: 3rem;
}

.u-padding__left-xs {
  padding-left: 0.25rem;
}

.u-padding__left-s {
  padding-left: 0.5rem;
}

.u-padding__left-m {
  padding-left: 0.75rem;
}

.u-padding__left-lg {
  padding-left: 1rem;
}

.u-padding__left-xl {
  padding-left: 1.25rem;
}

.u-padding__left-2xl {
  padding-left: 1.5rem;
}

.u-padding__left-3xl {
  padding-left: 1.75rem;
}

.u-padding__left-4xl {
  padding-left: 2rem;
}

.u-padding__bottom-xs {
  padding-bottom: 0.25rem;
}

.u-padding__bottom-s {
  padding-bottom: 0.5rem;
}

.u-padding__bottom-m {
  padding-bottom: 0.75rem;
}

.u-padding__bottom-lg {
  padding-bottom: 1rem;
}

.u-padding__bottom-xl {
  padding-bottom: 1.25rem;
}

.u-padding__bottom-2xl {
  padding-bottom: 1.5rem;
}

.u-padding__bottom-3xl {
  padding-bottom: 1.75rem;
}

.u-padding__bottom-4xl {
  padding-bottom: 2rem;
}

.u-padding__bottom-5xl {
  padding-bottom: 3rem;
}

.u-padding__right-xs {
  padding-right: 0.25rem;
}

.u-padding__right-s {
  padding-right: 0.5rem;
}

.u-padding__right-m {
  padding-right: 0.75rem;
}

.u-padding__right-lg {
  padding-right: 1rem;
}

.u-padding__right-xl {
  padding-right: 1.25rem;
}

.u-padding__right-2xl {
  padding-right: 1.5rem;
}

.u-padding__right-3xl {
  padding-right: 1.75rem;
}

.u-padding__right-4xl {
  padding-right: 2rem;
}

.u-padding__y-xs {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.u-padding__y-s {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.u-padding__y-m {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.u-padding__y-lg {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.u-padding__y-xl {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.u-padding__y-2xl {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.u-padding__y-3xl {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.u-padding__y-4xl {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.u-padding__x-xs {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.u-padding__x-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.u-padding__x-m {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.u-padding__x-lg {
  padding-left: 1rem;
  padding-right: 1rem;
}

.u-padding__x-xl {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.u-padding__x-2xl {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.u-padding__x-3xl {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.u-padding__x-4xl {
  padding-left: 2rem;
  padding-right: 2rem;
}

.u-font__xs {
  font-size: 0.25rem;
}

.u-font__s {
  font-size: 0.5rem;
}

.u-font__m {
  font-size: 0.75rem;
}

.u-font__lg {
  font-size: 1rem;
}

.u-font__xl {
  font-size: 1.25rem;
}

.u-font__2xl {
  font-size: 1.5rem;
}

.c-text__danger {
  color: red;
}

.u-opacity-0 {
  opacity: 0;
}

.u-opacity-25 {
  opacity: 0.25;
}

.u-opacity-50 {
  opacity: 0.5;
}

.u-opacity-75 {
  opacity: 0.75;
}

.u-opacity-100 {
  opacity: 1;
}

.u-align__right {
  text-align: right;
}

.u-content__between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.u-content__right {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.u-content__inline-block {
  display: inline-block;
}

@media screen and (min-width: 400px) {
  .u-max-width__sm {
    max-width: 24rem;
  }
}

@media screen and (min-width: 400px) {
  .u-max-width__md {
    max-width: 28rem;
  }
}

@media screen and (min-width: 400px) {
  .u-max-width__lg {
    max-width: 32rem;
  }
}

@media screen and (min-width: 400px) {
  .u-max-width__xl {
    max-width: 36rem;
  }
}

@media screen and (min-width: 400px) {
  .u-max-width__2xl {
    max-width: 42rem;
  }
}
