@use '../global' as *;

.p-card__title {
  font-size: 1rem;
  border-bottom: 1px solid $color-gray-300;
  margin-top: $space-lg;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.p-card__sub-content {
  font-size: 0.5rem;
  margin-top: $space-xs;
  color: $color-gray-400;
}

.p-card__badge {
  background-color: $color-indigo-300;
  font-size: 0.75rem;
  color: white;
  margin-top: $space-m;
  padding: $space-s $space-lg;
  text-align: center;
}

.p-card__badge-done {
  background-color: $color-gray-300;
  font-size: 0.75rem;
  color: white;
  margin-top: $space-m;
  padding: $space-s $space-lg;
  text-align: center;
}