@use '../global' as *;

.p-dashboard {
  @include mq(sm){
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @include mq(lg){
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.p-dashboard__inner {
  background-color: white;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
}

.p-dashboard__inner-text {
  padding: 1.5rem;
  color: $color-gray-900;
}

.p-dashboard__edit-link {
  text-align: right;
}

.p-dashboard__user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @include mq(sm) {
    flex-direction: row;
  }
}

.p-dashboard__user-icon {
  flex-shrink: 0;
}

.p-dashboard__user-details {
  margin-right: 20px;
  flex-grow: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.p-dashboard__content {
  border: 1px solid $color-gray-300;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  min-height: 30px;
}