@use "../global/" as *;

.p-header {
  padding: $space-lg $space-m;
  box-shadow: 0 1px 4px 0 $color-gray-500;
}

.p-header__title{
  padding: $space-2xl $space-lg;

    @include mq(sm) {
      padding: $space-2xl;
    }
    
    @include mq(lg) {
      padding: $space-2xl $space-4xl;
    }
}