@use "../global/" as *;

.p-header {
  padding: 1rem 0.75rem;
  box-shadow: 0 1px 4px 0 $color-gray-500;
}

.p-header__title{
  padding: 1.5rem 1rem;

    @include mq(sm) {
      padding: 1.5rem 1.5rem;
    }
    
    @include mq(lg) {
      padding: 1.5rem 2rem;
    }
}