@use '../global' as *;

.p-login__checkbox {
  display: block;
  margin-top: $space-lg;
}

.p-login__checkbox-label {
  display: flex;
  align-items: center;
}

.p-login__checkbox-text {
  margin-left: $space-s;
  font-size: small;
  color: $color-gray-600;
}