@use "../global/" as *;

// login register
.p-link {
  text-decoration: underline;
  font-size: 0.875rem;
  color: $color-gray-600;
  transition: color 0.15s ease-in-out;
  border-radius: 0.375rem;
  outline: none;
  &:hover {
    color: $color-gray-900;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.5);
  }
}

// UpdateProfileInformationForm VerifyEmail
.p-link__verify-email {
  text-decoration: underline;
  font-size: 0.875rem;
  color: $color-gray-600;
  border-radius: 0.375rem;
  &:hover {
      color: $color-gray-900;
  }
  &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
      outline-offset: 2px;
  }
}

.p-link__text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: $space-s;
  color: $color-gray-800;
}