@use '../global' as *;

.p-step {
  display: block;

  @include mq(md) {
    display: inline-block;
  }
}

.p-step__title {
  font-size: $font-size-l;
  margin-right: $space-lg;
}

.p-step__index {
  font-size: $font-size_xl;
  margin-right: $space-lg;
}

.p-step__estimated_time {
  font-size: $font-size_m;
  margin-right: $space-lg;

  @include mq(md) {
    margin-top: $space-s;
  }
}

.p-step__transition {
  &-enter-active {
    transition: opacity 1000ms ease-out, transform 1000ms ease-out;
  }
  &-leave-active {
    transition: opacity 1000ms ease-in, transform 1000ms ease-in;
  }
  &-enter-from, &-leave-to {
    opacity: 0;
    transform: translateX(100%) scale(0.95);
  }
  &-enter-to, &-leave-from {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
}

.p-step__list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.p-step__list-link {
  display: block;
  flex-grow: 1;

  &:hover {
    background-color: $color-gray-200;
  }
}

.p-step__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  padding: 20px;
}

.p-step__card {
  padding: 10px;
  font-size: $font-size_m;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: $color-gray-100;
  transition: background-color 0.3s;

  /* ホバー時のスタイル */
  &:hover {
    background-color: $color-gray-200;
  }
}

.p-step__card-current {
  background-color: $color-indigo-100;

    /* ホバー時のスタイル */
    &:hover {
      background-color: $color-indigo-200;
    }
}

.p-step-min-height{
  min-height: 500px;
}
