// ==========================================================================
// JavaScript(変化ではなく状態を記載)
// ==========================================================================
@use "../global/" as *;

.is-nav-link__active {
  display: inline-flex;
  align-items: center;
  padding: $space-xs $space-s;
  border-bottom: 2px solid #667eea;
  font-size: 0.875rem;
  font-weight: $medium;
  line-height: 1.25rem;
  color: $color-gray-900;
  outline: none;
  border-color: $color-indigo-700;
  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;

  &:hover {
    color: $color-gray-700;
  }
}

.is-nav-link__inactive {
  display: inline-flex;
  align-items: center;
  padding: $space-xs $space-s;
  border-bottom: 2px solid transparent;
  font-size: 0.875rem;
  font-weight: $medium;
  line-height: 1.25rem;
  color: $color-gray-500;
  outline: none;
  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;

  &:hover {
    color: $color-gray-700;
    border-color: $color-gray-300;
  }
}


.is-nav-link__response-active {
  display: block;
  width: 100%;
  padding: $space-s $space-lg $space-s $space-m;
  border-left: 4px solid $color-indigo-400;
  text-align: left;
  font-size: 1rem;
  font-weight: $medium;
  color: $color-indigo-700;
  background-color: $color-indigo-50;
  outline: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

  &:hover, &:focus{
    color: $color-indigo-800;
    background-color: $color-indigo-100;
    border-color: $color-indigo-700;
  }
}

.is-nav-link__response-inactive {
  display: block;
  width: 100%;
  padding: $space-s $space-lg $space-s $space-m;
  border-left: 4px solid transparent;
  text-align: left;
  font-size: 1rem;
  font-weight: $medium;
  color: $color-gray-600;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

  &:hover, &:focus {
    color: $color-gray-800;
    background-color: $color-gray-50;
    border-color: $color-gray-300;
  }
}