// ==========================================================================
// JavaScript(変化ではなく状態を記載)
// ==========================================================================
@use "../global/" as *;

.is-inline-flex {
  display: inline-flex;
}

.is-hidden {
  display: none;
}

.is-block {
  display: block;
}