@use "../global/" as *;

.u-content__between {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.u-content__right {
  display: flex;
  justify-content:space-between;
  flex-direction: row-reverse;
}

.u-content__inline-block {
  display: inline-block;
}