@use "../global/" as *;

.u-font__xs {
  font-size: 0.25rem;
}
.u-font__s {
  font-size: 0.5rem;
}
.u-font__m {
  font-size: 0.75rem;
}
.u-font__lg {
  font-size: 1rem;
}
.u-font__xl {
  font-size: 1.25rem;
}
.u-font__2xl {
  font-size: 1.5rem;
}